/* You can add global styles to this file, and also import other style files */
.pokemonName {
    font-size: 1.1rem;
    font-weight: bold;
}

.pokemonTypes {
    margin-top: 0.5rem;
    color: white;
}

#addPokemonbtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.typpeWrapper {
    margin-block: 0.6rem;
}

.typeTag {
    color: white;
    font-size: 0.8rem;
}

#pokemonSearchComponent {
    margin-block: 1.5rem;
}